/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Changement de la police */
    background-image: url("../images/background.jpg");
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.logo {
    font-family: 'Poppins', sans-serif; /* Changement de la police */
    font-size: 40px;
    color: #fff; /* Couleur du texte du titre */
    margin-bottom: 10px;
    text-align: center; /* Centrer le texte */
}


.menu {
    text-align: center;
    background-color: rgba(137, 164, 182, 0.9); /* Couleur de fond de la bande de liens */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px 0; /* Ajout de padding pour l'espace autour des liens */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrer les éléments */
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0; /* Supprimer la marge à droite du dernier élément */
}

.menu ul li a {
    text-decoration: none;
    color: #FFF; /* Couleur du texte des liens */
    font-size: 18px;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #333; /* Couleur du texte des liens au survol */
}

.login-box {
    background-color: rgba(137, 164, 182, 0.9); /* Couleur de fond transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 25px auto 0;
}

.login-box h2 {
    font-family: 'Poppins', sans-serif; /* Changement de la police */
    font-size: 30px;
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
}

.login-form input,
.login-form button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond transparente pour les champs */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond transparente pour les champs */
}

.login-form button {
    background-color: #011F37;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-form button:hover {
    background-color: #89A4B6;
}
